@model IEnumerable<RentaCars.EN.Reserva>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.VehiculoID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraDev)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EstadoID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.VehiculoID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaEn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HoraDev)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ReservaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ReservaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ReservaID })
        </td>
    </tr>
}

</table>
