@model RentaCars.EN.Vehiculo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Vehiculo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UsuarioID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Placa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Placa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Npuertas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Npuertas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioDiario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioDiario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagoTotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagoTotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VehiculoID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
